/* 
    Created on : Jun 25, 2015, 9:16:17 PM
    Author     : Nick
*/
/* 
    Created on : Jun 25, 2015, 9:25:38 PM
    Author     : Nick
*/
/* 
    Created on : Jun 27, 2015, 12:50:38 PM
    Author     : Nick
*/
/*********************** Global Default Styles ***********************/
/* line 7, ../sass/_main.scss */
.section {
  min-width: 940px;
  width: 100%;
}
/* line 10, ../sass/_main.scss */
.section .inside {
  max-width: 1200px;
  width: 80%;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/_main.scss */
.text_section {
  background-color: #FF5252;
  height: auto;
}
/* line 19, ../sass/_main.scss */
.text_section .inside {
  margin: 0 auto;
  padding: 300px 0px 20px 0px;
  text-align: left;
}
/* line 24, ../sass/_main.scss */
.text_section .inside .main_question {
  width: 50%;
  font-size: 40px;
  font-weight: 100;
  color: #FFFFFF;
}

/* line 33, ../sass/_main.scss */
.graphic_section {
  min-height: 750px;
  height: auto;
}
/* line 36, ../sass/_main.scss */
.graphic_section .inside {
  padding-top: 20px;
  padding-bottom: 40px;
}

/*********************** Section-specific Styles ***********************/
/* line 47, ../sass/_main.scss */
#title_section {
  background-color: #2C3E50;
  min-height: 500px;
  height: auto;
}
/* line 51, ../sass/_main.scss */
#title_section .inside {
  padding-bottom: 40px;
}
/* line 55, ../sass/_main.scss */
#title_section .inside #back_to_series_section:hover polyline {
  stroke-width: 3;
  transition: all 300ms ease-in-out;
}
/* line 60, ../sass/_main.scss */
#title_section .inside #back_to_series_section {
  position: relative;
}
/* line 63, ../sass/_main.scss */
#title_section .inside #back_to_series_section svg {
  width: 20px;
  display: inline;
}
/* line 67, ../sass/_main.scss */
#title_section .inside #back_to_series_section #back_to_series {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  padding-left: 12px;
  display: inline;
  color: white;
  font-size: 20px;
  font-weight: 100;
}
/* line 78, ../sass/_main.scss */
#title_section .inside #flag {
  min-width: 150px;
  width: 10%;
  padding-top: 300px;
}
/* line 82, ../sass/_main.scss */
#title_section .inside #flag svg {
  fill: #FFFFFF;
}
/* line 86, ../sass/_main.scss */
#title_section .inside #main_title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 50px;
  color: #FFFFFF;
}
/* line 94, ../sass/_main.scss */
#title_section .inside #author {
  font-size: 14px;
  color: #FFFFFF;
}
/* line 98, ../sass/_main.scss */
#title_section .inside #description {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 100;
  color: #FFFFFF;
}
/* line 103, ../sass/_main.scss */
#title_section .inside #description a {
  text-decoration: none;
  font-weight: 500;
  color: #FFFFFF;
}
/* line 108, ../sass/_main.scss */
#title_section .inside #description a:hover {
  color: #9E9E9E;
}

/* line 115, ../sass/_main.scss */
#break1 {
  background-color: #2980B9;
}

/* line 120, ../sass/_main.scss */
#chart_4D_section .inside {
  padding-top: 20px;
}
/* line 45, C:/Ruby21/lib/ruby/gems/2.1.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#chart_4D_section .inside:before, #chart_4D_section .inside:after {
  content: "";
  display: table;
}
/* line 50, C:/Ruby21/lib/ruby/gems/2.1.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#chart_4D_section .inside:after {
  clear: both;
}
/* line 124, ../sass/_main.scss */
#chart_4D_section .inside .description {
  width: 50%;
}
/* line 128, ../sass/_main.scss */
#chart_4D_section .inside .sexual_assault_type {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-bottom: 60px;
}
/* line 133, ../sass/_main.scss */
#chart_4D_section .inside .sexual_assault_type p {
  text-align: center;
  font-size: 24px;
  color: #2980B9;
}
/* line 139, ../sass/_main.scss */
#chart_4D_section .inside .sexual_assault_type #types_of_sexual_assault .sa_tile {
  float: left;
  width: 125px;
  height: 125px;
  padding: 10px;
  margin: 10px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid #2980B9;
  color: #2980B9;
}
/* line 160, ../sass/_main.scss */
#chart_4D_section .inside #circumstance_of_sexual_assault {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: #2980B9;
}
/* line 169, ../sass/_main.scss */
#chart_4D_section .inside #chart_4D {
  clear: both;
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: -66.66667%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 600px;
}
/* line 175, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 40px 30px;
  padding-top: 0px;
}
/* line 180, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside {
  height: 600px;
  margin: 0 auto;
}
/* line 183, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_default_prompt {
  color: #BDBDBD;
  text-align: center;
}
/* line 187, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 3px;
}
/* line 191, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 300;
}
/* line 196, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt p {
  margin: 0;
}
/* line 199, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_percentage {
  display: inline;
  padding: 5px 10px;
  font-size: 40px;
  font-weight: 300;
  border-radius: 3px;
}
/* line 206, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_percentage:after {
  content: "%";
}
/* line 209, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_series {
  font-size: 24px;
}
/* line 212, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_category_description {
  font-size: 18px;
}
/* line 215, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_type_ending {
  padding-top: 18px;
  font-size: 18px;
}
/* line 219, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt .static {
  padding: 30px 0px 5px 0px;
  font-weight: 300;
}

/* line 229, ../sass/_main.scss */
#break2 {
  background-color: #2C3E50;
}

/* line 234, ../sass/_main.scss */
#chart3_section .inside {
  padding-top: 20px;
}
/* line 237, ../sass/_main.scss */
#chart3_section .inside .description {
  width: 50%;
}
/* line 243, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .category {
  position: relative;
  height: 400px;
  margin: 80px 0px;
}
/* line 248, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio svg {
  position: absolute;
  z-index: -50;
}
/* line 259, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .left svg {
  width: 400px;
  height: 400px;
  top: 0px;
  left: 60px;
}
/* line 265, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .left .demographic {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 400px;
  height: auto;
  text-align: center;
  padding-top: 185px;
  font-size: 30px;
  font-weight: 100;
  color: #FFFFFF;
}
/* line 279, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .middle {
  width: 250px;
  margin: 0 auto;
  padding-top: 167px;
  text-align: center;
  font-size: 21px;
  font-weight: 300;
}
/* line 289, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .middle .gender_ratio {
  font-size: 29.4px;
  font-weight: 700;
}
/* line 295, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .right svg {
  width: 400px;
  height: 400px;
  top: 0px;
  right: 60px;
}
/* line 301, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .right .demographic {
  position: absolute;
  top: 0px;
  right: 60px;
  width: 400px;
  height: auto;
  text-align: center;
  padding-top: 185px;
  font-size: 30px;
  font-weight: 100;
  color: #FFFFFF;
}
/* line 315, ../sass/_main.scss */
#chart3_section .inside #chart3 .odds_ratio .two_lines {
  padding-top: 170px !important;
}
/* line 320, ../sass/_main.scss */
#chart3_section .inside #chart3 #female_male_ratio .left circle {
  fill: #FF5252;
}
/* line 323, ../sass/_main.scss */
#chart3_section .inside #chart3 #female_male_ratio .right circle {
  fill: #2980B9;
}
/* line 328, ../sass/_main.scss */
#chart3_section .inside #chart3 #ug_gp_odds_ratio .left circle {
  fill: #D50000;
}
/* line 331, ../sass/_main.scss */
#chart3_section .inside #chart3 #ug_gp_odds_ratio .right circle {
  fill: #3498DB;
}
/* line 336, ../sass/_main.scss */
#chart3_section .inside #chart3 #lgbt_hetero_ratio .left circle {
  fill: #2980B9;
}
/* line 339, ../sass/_main.scss */
#chart3_section .inside #chart3 #lgbt_hetero_ratio .right circle {
  fill: #FF5252;
}
/* line 344, ../sass/_main.scss */
#chart3_section .inside #chart3 #greek_ged_ratio .left circle {
  fill: #D50000;
}
/* line 347, ../sass/_main.scss */
#chart3_section .inside #chart3 #greek_ged_ratio .right circle {
  fill: #3498DB;
}
/* line 352, ../sass/_main.scss */
#chart3_section .inside #chart3 #club_not_club_ratio .left circle {
  fill: #2980B9;
}
/* line 355, ../sass/_main.scss */
#chart3_section .inside #chart3 #club_not_club_ratio .right circle {
  fill: #2C3E50;
}

/* line 11, ../sass/styles.scss */
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}
