/* 
    Created on : Jun 25, 2015, 9:25:38 PM
    Author     : Nick
*/

$red: #FF5252;
$darkred: #D50000;
$offwhite: #ECF0F1;
$lightblue: #3498DB;
$mediumblue: #2980B9;
$darkblue: #2C3E50;

$female_undergrad: #EA80FC;
$female_grad: #E040FB;
$male_undergrad: #448AFF;
$male_grad: #2962FF;

$white: #FFFFFF;
$grey100: #F5F5F5;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey700: #616161;
$black: #000000;

$font_stack: 'Roboto', Arial, sans-serif;

$tile_side: 125px;

@mixin round_corners() {
    border-radius: 3px;
}

// Use with the .inside divs for each section
@mixin inside_section_params() {
    max-width: 1200px;
    width: 80%;
    min-width: 900px;
    
    margin-left: auto;
    margin-right: auto;
}