/* 
    Created on : Jun 27, 2015, 12:50:38 PM
    Author     : Nick
*/

/*********************** Global Default Styles ***********************/
.section {
    min-width: 940px;
    width: 100%;
    .inside {
        @include inside_section_params();
    }
}

.text_section {
    background-color: $red;
    height: auto;
    
    .inside {
        margin: 0 auto;
        padding: 300px 0px 20px 0px;
        text-align: left;

        .main_question {          
            width: 50%;
            font-size: 40px;
            font-weight: 100;
            color: $white;
        }
    }
}

.graphic_section {
    min-height: 750px;
    height: auto;
    .inside {        
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

$zen-column-count: 6;
$zen-gutter-width: 12px;

/*********************** Section-specific Styles ***********************/

#title_section {
    background-color: $darkblue;
    min-height: 500px;
    height: auto;
    .inside {
        padding-bottom: 40px;

        #back_to_series_section:hover {
            polyline {
                stroke-width: 3;
                transition: all 300ms ease-in-out;
            }
        }
        #back_to_series_section {
            position: relative;
            $back_to_series_size: 20px;
            svg {
                width: $back_to_series_size;
                display: inline;
            }
            #back_to_series {
                position: absolute;
                top: 50%;
                margin-top: -15px;
                padding-left: 12px;
                display: inline;
                color: white;
                font-size: $back_to_series_size;
                font-weight: 100;
            }
        }
        #flag {
            min-width: 150px;
            width: 10%;
            padding-top: 300px;
            svg {
                fill: $white;
            }
        }
        #main_title {
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            font-weight: 300;
            font-size: 50px;
            color: $white;
        }
        #author {
            font-size: 14px;
            color: $white;
        }
        #description {
            padding-top: 10px;
            font-size: 18px;
            font-weight: 100;
            color: $white;
            a {
                text-decoration: none;
                font-weight: 500;
                color: $white;
            }
            a:hover {
                color: $grey500;
            }
        }
    }
}

#break1 {
    background-color: $mediumblue;
}

#chart_4D_section {
    .inside {
        @include zen-grid-container;
        padding-top: 20px;
        
        .description {
            width: 50%;
        }
        
        .sexual_assault_type {
            @include zen-clear(both);
            @include zen-grid-item(6, 1);
            padding-bottom: 60px;
            
            p {
                text-align: center;
                font-size: 24px;
                color: $mediumblue;
            }
            #types_of_sexual_assault {
                .sa_tile {
                    float: left;
                    width: $tile_side;
                    height: $tile_side;
                    padding: 10px;
                    margin: 10px;                    
                    font-weight: 300;
                    font-size: 16px;
                    @include round_corners();
                    
                    // Base styles - unselected
                    background-color: $white;
                    border: 1px solid $mediumblue;
                    color: $mediumblue;
                    
                    // Selected style
                    //background-color: $mediumblue;
                    //color: $white;
                }
            }
        }
        #circumstance_of_sexual_assault {
            @include zen-clear(both);
            @include zen-grid-item(6, 1);
            padding-bottom: 30px;
            
            text-align: center;
            font-size: 24px;
            color: $mediumblue;
        }
        #chart_4D {
            @include zen-clear(both);
            @include zen-grid-item(4, 1);
            //display: inline-block;
            height: 600px;
        }
        .infographic_details_left {            
            @include zen-grid-item(2, 5);            
            
            padding: 40px 30px;
            padding-top: 0px;
            .infographic_inside {
                height: 600px;
                margin: 0 auto;
                #chart_4D_default_prompt {
                    color: $grey400;
                    text-align: center;
                }
                #chart_4D_selected_prompt {
                    background-color: $grey100;
                    padding: 20px;
                    @include round_corners();
                    h1 {
                        margin: 0;
                        margin-bottom: 20px;
                        font-weight: 300;
                    }
                    p {
                        margin: 0;
                    }
                    #chart_4D_percentage {
                        display: inline;
                        padding: 5px 10px;                        
                        font-size: 40px;
                        font-weight: 300;
                        @include round_corners();
                    }
                    #chart_4D_percentage:after {
                        content: "%"
                    }                    
                    #chart_4D_series {
                        font-size: 24px;
                    }
                    #chart_4D_category_description {
                        font-size: 18px;
                    }
                    #chart_4D_type_ending {
                        padding-top: 18px;
                        font-size: 18px;
                    }
                    .static {
                        padding: 30px 0px 5px 0px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

#break2 {
    background-color: $darkblue;
}

#chart3_section {
    .inside {
        padding-top: 20px;
        
        .description {
            width: 50%;
        }
        
        #chart3 {
            .odds_ratio {
                .category {
                    position: relative;
                    height: 400px;
                    margin: 80px 0px;
                }
                svg {
                    position: absolute;
                    z-index: -50;
                }

                $distance_from_top: 200px;
                $chart3_font_size: 30px;
                $distance_from_sides: 60px;
                $svg_side: 400px;

                .left {
                    svg {                    
                        width: $svg_side;
                        height: $svg_side;
                        top: 0px;
                        left: $distance_from_sides;
                    }
                    .demographic {
                        position: absolute;
                        top: 0px;
                        left: $distance_from_sides;
                        width: $svg_side;
                        height: auto;
                        text-align: center;
                        padding-top: $distance_from_top - $chart3_font_size / 2;

                        font-size: $chart3_font_size;
                        font-weight: 100;
                        color: $white;
                    }
                }
                .middle {
                    $chart3_middle_size: $chart3_font_size * 0.7;
                    width: 250px;
                    margin: 0 auto;
                    padding-top: $distance_from_top - $chart3_middle_size - 12px;

                    text-align: center;
                    font-size: $chart3_middle_size;
                    font-weight: 300;
                    
                    .gender_ratio {
                        font-size: $chart3_middle_size * 1.4;
                        font-weight: 700;
                    }
                }
                .right {
                    svg {
                        width: $svg_side;
                        height: $svg_side;
                        top: 0px;
                        right: $distance_from_sides;
                    }
                    .demographic {
                        position: absolute;
                        top: 0px;
                        right: $distance_from_sides;
                        width: $svg_side;
                        height: auto;
                        text-align: center;
                        padding-top: $distance_from_top - $chart3_font_size / 2;

                        font-size: $chart3_font_size;
                        font-weight: 100;
                        color: $white;
                    }
                }
                .two_lines {
                    padding-top: $distance_from_top - $chart3_font_size !important;
                }
            }
            #female_male_ratio {
                .left circle {
                    fill: $red;
                }
                .right circle {
                    fill: $mediumblue;
                }
            }
            #ug_gp_odds_ratio {
                .left circle {
                    fill: $darkred;
                }
                .right circle {
                    fill: $lightblue;
                }
            }
            #lgbt_hetero_ratio {
                .left circle {
                    fill: $mediumblue;
                }
                .right circle {
                    fill: $red;
                }
            }
            #greek_ged_ratio {
                .left circle {
                    fill: $darkred;
                }
                .right circle {
                    fill: $lightblue;
                }
            }
            #club_not_club_ratio {
                .left circle {
                    fill: $mediumblue;
                }
                .right circle {
                    fill: $darkblue;
                }
            }
        }
    }
}